*{
    margin: 0;
    padding: 0;
}
header
{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
}
.logo
{
    float: left;
    width: 40%;
}
.logo img
{

}
.menu
{
    overflow: hidden;
    width: 60%;
}
.menu ul
{
    float: right;
    font-size: 16px;
    list-style: none;
    overflow: hidden;
    
}
.menu ul li
{
    float: right;      
}
.menu ul li a
{
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
    margin-left: 35px;
}
.banner
{
    width: 90%;
    margin:auto;
}
.banner img
{
    width: 100%;
    
}

.photodairy{
   
width: 80%;
   
margin: 100px auto;
}
.photodairy h5{font-size: 20px;color: #b4ad9e;margin-bottom: 15px;}
.photodairy h1{

margin-bottom: 30px;

color: #626262;

font-size: 35px;
}
.photodairy p{

color: #b4ad9e;

margin-bottom: 100px;
}
.photodairy a{
    
color: #b4ad9e;
    
text-transform: uppercase;
    
text-decoration: none;
    
margin-bottom: 20px;
}













